/* Estilos generales para el formulario */
form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* Estilos para los campos de entrada */
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .titulos
  {
    font-size: 24px; 
    font-weight: bold; 
    color: #333; 
    margin-bottom: 10px; 
    text-align: center; 
  }
  
  /* Estilos para el botón */
  .botones {
    display:block;
    padding:3px;
    color:#FFFFFF;
    background-color:#000000;
    margin: 0 auto;
  }
  
  .botones:hover {
    background-color: #45a049;
  }
  
  /* Estilos para el contenedor principal */
  .container {
    text-align: center;
    margin-top: 50px;
  }
